<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <script type="text/javascript"
                src="{{ url_for('static', filename='script/jquery-2.1.4.min.js') }}">
        </script>

        <script type="text/javascript"
                src="{{ url_for('static', filename='script/bootstrap.min.js') }}">
        </script>
        <script type="text/javascript"
                src="{{ url_for('static', filename='script/bootstrap-dropdown.js') }}">
        </script>
        <script type="text/javascript"
                src="{{ url_for('static', filename='script/bootstrap-collapse.js') }}">
        </script>
        <script type="text/javascript"
                src="{{ url_for('static', filename='script/bootstrap-transition.js') }}">
        </script>
        <script type="text/javascript"
                src="{{ url_for('static', filename='script/bootstrap-button.js') }}">
        </script>
        <script type="text/javascript"
                src="{{ url_for('static', filename='script/bootstrap-datetimepicker.min.js') }}">
        </script>

        <script type="text/javascript"
                src="{{ url_for('static', filename='script/moment.min.js') }}">
        </script>

        <link rel="stylesheet"
              type="text/css"
              href="{{ url_for('static', filename='style/bootstrap.min.css') }}">
        </link>
        <link rel="stylesheet"
              type="text/css"
              href="{{ url_for('static', filename='style/bootstrap-theme.min.css') }}">
        </link>
        <link rel="stylesheet"
              type="text/css"
              href="{{ url_for('static', filename='style/bootstrap-datetimepicker.min.css') }}">
        </link>

        <style type="text/css">
        @font-face {
            font-family: "Glyphicons Halflings";
            src: url("{{ url_for('static', filename='font/glyphicons-halflings-regular.woff') }}");
        }
        </style>
        <meta name="author" content="Nathaniel Yazdani">
        <title>statscache {% block title %}{% endblock %}</title>
        {% block head %}{% endblock %}
    </head>
    <body class="container" {% if request.endpoint != 'dashboard' %}style="max-width: 700pt;"{% endif %}>
        <header class="page-header row">
            <div class="masthead">
                <ul class="nav nav-pills pull-right">
                    <li{% if request.endpoint == 'getting_started' %} class="active"{% endif %}>
                        <a href="{{ url_for('getting_started') }}">Getting started</a>
                    </li>
                    <li{% if request.endpoint == 'dashboard' %} class="active"{% endif %}>
                        <a href="{{ url_for('dashboard') }}">Dashboard</a>
                    </li>
                    <li{% if request.endpoint == 'reference' %} class="active"{% endif %}>
                        <a href="{{ url_for('reference') }}">Reference</a>
                    </li>
                    <!-- <li{% if request.endpoint == 'widget' %} class="active"{% endif %}><a href="{# url_for('widget') #}">Embedding</a></li> -->
                    <li><a href="https://github.com/fedora-infra/statscache">Source</a></li>
                    <li><a href="https://github.com/fedora-infra/statscache/issues">Issues</a></li>
                </ul>
                <h3 class="muted">statscache <small>{% block byline %}{% endblock %}</small></h3>
            </div>
            {% block header %}{% endblock %}
        </header>
        <main>
            {% block body %}{% endblock %}
        </main>
        <footer class="page-footer row">
            <hr/>
            {% block footer %}{% endblock %}
            <p class="text-muted">Copyright &copy; 2015, Fedora Project and its contributors under the GPLv2+</p>
        </footer>
    </body>
</html>
