<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<script type="text/javascript"
				src="{{ url_for('static', filename='script/jquery-2.1.4.min.js') }}">
		</script>
		<script type="text/javascript"
				src="{{ url_for('static', filename='script/underscore-min.js') }}">
		</script>
		<link rel="stylesheet"
			  type="text/css"
			  href="{{ url_for('static', filename='style/bootstrap-theme.min.css') }}">
		</link>
		<link rel="stylesheet"
			  type="text/css"
			  href="{{ url_for('static', filename='style/bootstrap.min.css') }}">
		</link>
		<title>{% block title %}{% endblock %} - statscache</title>
		{% block head %}{% endblock %}
	</head>
	<body>
		<div class="container">
			{% block body %}{% endblock %}
		</div>
	</body>
</html>