table#stats-table th {
	width: 16%;
	font-size: 11pt;
}

table#stats-table td {
	width: 16%;
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
	font-size: 9pt;
}

img#spinwheel {
	width: 40pt;
}
