table#stats-table th {
	width: 16%;
	font-size: 11pt;
}

table#stats-table td {
	width: 16%;
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
	font-size: 9pt;
}

div#loading {
	text-align: center;
}

div#loading > img#spinwheel {
	display: inline-block;
	width: 40pt;
}

div#loading > label {
	display: inline-block;
	font-size: larger;
}
